{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy Policy AutoIMG{% endblock title %}
{% block head %}
<title>About Us - AutoIMG Instant Passport Photo</title>
<meta name="description" content="Welcome to AutoIMG, your go-to destination for AI-powered image editing that seamlessly combines innovation with user-friendly design. Our team of dedicated developers and creatives is on a mission to redefine your photo editing experience through cutting-edge AI technology, specializing in background removal and automatic face-cropping.">
<meta name="keywords" content="Revolutionize Your Photos: AutoIMG Delivers Free AI-Powered Editing and Background Removal, AutoIMG: Free AI Photo Transformation – Crop, Resize, and Remove Backgrounds Instantly, Enhance Your Images for Free with AutoIMG's AI Magic: Passport-Ready and Background-Free, AutoIMG: Your Gateway to Seamless AI Photo Editing – Free, Fast, and Flawless, Unlock Photo Perfection: AutoIMG's Free AI Editing for Passport-Size Precision and Background Elegance">
<meta name="robots" content="index follow">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }

    .headerTop {
        padding: 1em;
        text-align: center;
        color: #fff;
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .h1 {
        color: #007BFF;
    }

    p {
        line-height: 1.6;
        padding-bottom: 15px;
    }

    .footerButtom {
        color: #636587;
        text-align: center;
        padding: 1em 0;
    }
    ul, li{
        padding: 10px 0;
    }
    .ul{
        padding-left: 26px;
    }
</style>

{% endblock head%}

{% block body %}
<div class="headerTop">
    <h1 class="h1">Instant Passport Photo</h1>
</div>

<section>
    <h2 style="color: #242954;">About Us</h2>
    <p>At Instant Passport Photo, we understand the importance of hassle-free and efficient passport photo creation...</p>

    <h3>Why Choose Instant Passport Photo?</h3>
    <ul class="ul">
        <li><strong>Speed and Efficiency:</strong> Our advanced algorithms enable lightning-fast background removal and precise cropping.</li>
        <li><strong>Accuracy:</strong> We prioritize accuracy to ensure that your passport photos meet the stringent standards set by official authorities.</li>
        <li><strong>User-Friendly Interface:</strong> Our intuitive interface is designed for simplicity, making the entire process a breeze.</li>
        <li><strong>Accessible Anywhere:</strong> Instant Passport Photo is accessible online, allowing you to create passport photos from anywhere.</li>
    </ul>

    <h3>Contact Us</h3>
    <p>Have a question or need assistance? Reach out to our friendly support team at <a href="mailto:paritoshpuitta@gmail.com">paritoshpuitta@gmail.com</a>.</p>
</section>

<div class="footerButtom">
    &copy; 2023 AutoIMG Instant Passport Photo. All rights reserved.
</div>
    {% endblock body %}