{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>AutoIMG: Your Free Passport to Effortless AI Photo Editing and Background Removal HD Quality</title>
<meta name="description" content="Revolutionize Your Photos with Our AI-Powered Background Removal and Face-Cropping Tool. Discover the ultimate in AI-driven photo editing on our website! Instantly crop your images to passport size with pinpoint accuracy, tailored to your facial dimensions. Our advanced AI technology not only streamlines the process but also offers background removal at your fingertips. Elevate your photos with our intelligent platform, ensuring optimal results for all your editing needs. Unleash the power of AI for a seamless and efficient photo transformation experience. Try our website now for hassle-free, precision photo editing!">
<meta name="keywords" content="AI image editing, Background removal tool, Face-cropping AI, Automated photo editing, Image enhancement software, AI-based cropping, Time-efficient photo editing, Instant photo editing">
<meta name="robots" content="index follow">
<style>
     .newbody {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .newh1 {
            color: #333;
        }

        .newP {
            color: #555;
            max-width: 600px;
            text-align: center;
            margin-bottom: 40px;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: #0056b3;
        }
        .footerButtom {
            text-align: center;
            padding: 1em;
            color: #636587;
            margin-bottom: 30px;
        }
        .footerButtom>h2{
          font-size: 22px;
          font-weight: 500;
        }
        .select{
          padding: 15px;
          margin-top: 11px;
          background-color: #55555517;
          border-radius: 5px;
        }
        .select>select{
          margin-top: 6px;
          padding: 5px 9px;
          border-radius: 5px;
          border: 1px solid gray;
        }
</style>

{% endblock head%}


{% block body %}

    
    {% if errorMsg %}
    <p style="text-align: center;color: red;background-color: rgba(255, 255, 0, 0.664);padding: 21px;font-size: 23px;">{{errorMsg}}</p>
    {% endif %}
    <div id="main">
        <h1>Create your own High Quality professional passport photo
            online With Single-Click in One Second and Direct print</h1>
            <div class="footerButtom">
              <h2>AI image cropper and background remover.</h2>
          </div>

        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="fileId" class="custom-file-upload">
                Choose File
            </label>
            <input type="file" id="fileId" onchange="imageUploaded()" name="picture" accept="image/*" required class="actual-btn">
            <br>
            <div id="browseImg"><img id="bimg" src="{{facedetected}}" alt=""></div>

            <br><br><br>
            <label for="color">Choose Background Color</label>
            <input type="color" name="color" id="color" value="#0091ff">
            <br>
            <div class="select">
              <label for="q-select">Choose Quality:</label><br>
              <select name="q-select" id="q-select">
                <option value="250">250px</option>
                <option value="500" selected>500px</option>
                <option value="700">700px</option>
                <option value="1000">1000px</option>
                <option value="1000">1100px</option>
                <option value="1000">1200px</option>
                <option value="1500">1300px</option>
              </select>
          </div>
            
            <br><br>
            <fieldset>
                <legend>Choose your Quality and Background</legend>

                <div>
                    <input type="radio" id="noneed" name="removequality" value="noneed" checked />
                    <label for="noneed">Original Background</label>
                </div>

                <div>
                    <input type="radio" id="normal" name="removequality" value="normal" />
                    <label for="normal">Colored Background</label>
                </div>

                <div>
                    <input type="radio" id="advence" name="removequality" value="advence" disabled/>
                    <label for="advence">High Quality(Only for Pro)</label>
                </div>
                <p>Advence will take a little time</p>

            </fieldset>

            <br><br>
            <button type="submit" class="getImageButton">Get Image</button>
        </form>


        {% if img %}
        <div id="outputSection">
            <div>
                <img src="{{img}}" alt="Original Image">
                <a href="{{img}}" download class="getImageButton">Download</a>
            </div>
            <div>
                <img src="{{facedetected}}" alt="Face detected Image">
                <a href="{{facedetected}}" download class="getImageButton">Download</a>
            </div>
            <div>
                <img src="{{cropeImage}}" alt="Output Image">
                <a href="{{cropeImage}}" download class="getImageButton">Download</a>
            </div>
        </div>

        <div id="printSection">
            <div class="number-input">
                <button class="decrement Bbutton" id="#decrementT" onclick="decrementFunc()">-</button>
                <input type="number" onchange="printNoCh()" onkeyup="printNoCh()" value="4" min="1" max="100" class="Iinput" id="printNum">
                <button class="increment Bbutton" id="#incrementT" onclick="incrementFunc()">+</button>
              </div>

              <div id="a4page">
                <img src="{{cropeImage}}" alt="Output Image">
                <img src="{{cropeImage}}" alt="Output Image">
                <img src="{{cropeImage}}" alt="Output Image">
                <img src="{{cropeImage}}" alt="Output Image">
                

              </div>
              <div style="text-align: center; margin: 35px 0;">
                <button class="getImageButton" onclick="printFunc()">Print</button>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="newbody" style="margin-top: 50px; margin-bottom: 70px;">
        <h1 class="newh1">Your Photo Wizard</h1>
        <p class="newP">Welcome to our cutting-edge website where we bring your photos to life! 📸✨</p>
        <p class="newP">Say goodbye to background clutter! Our advanced technology seamlessly removes backgrounds, focusing on what matters most – your face. 🚀</p>
        <p class="newP">But that's not all! We go beyond by detecting faces and expertly cropping your images into perfect passport-size photos. 📷✂️</p>
        <p class="newP">Experience the simplicity of transforming your pictures effortlessly. Join us on a journey of photo perfection. Try it now! 👩‍💻👨‍💻</p>
    </div>








    <div class="A_Complete_Solution_Section">
        <h2>AI IMAGE EDITOR</h2>
        <h3>AutoIMG: AI Photo Perfection in One Click!</h3>
        <p>Unlock Photo Brilliance with AutoIMG: Your One-Click All-in-One AI Solution for Effortless Editing, Cropping, Resizing,<br> and Background Removal. Elevate Your Images Instantly!</p>
      </div>
    
    

      <section class="CardSection">
        <div class="someCards">
          <div>
            <div>
              <div><img
                  src="{% static 'img/IMG_20231112_124228.png' %}">
              </div>
              <h2>Choose a background</h2>
              <p>Customize your photo backgrounds effortlessly with AutoIMG! Choose any color you like, click, and see your background transform. It's that simple to personalize your pictures with AutoIMG!<br>
              </p>
            </div>
          </div>
          <div>
            <div>
              <div><img src="{% static 'img/IMG_20231112_124452.png' %}"></div>
              <h2>Output will see</h2>
              <p>Click once, and witness the magic unfold in three distinctive outputs: your original image, a face-detected version, and a polished passport-size photo against a background of your choice. Simplify your editing journey with AutoIMG's seamless, triple-result transformation!</p>
            </div>
          </div>
          <div>
            <div>
              <div><img src="{% static 'img/IMG_20231112_124339.png' %}">
              </div>
              <h2>Print and download</h2>
              <p>After customization, download and print your images effortlessly. Enjoy the flexibility of printing as many copies as you desire. AutoIMG – where digital meets print for a seamless photo experience.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="angleRedLine"></div>
    
    

  <div class="A_Complete_Solution_Section Add_Time_Tracking">
    <h2>AUTOIMG IN ACTION</h2>
    <h3>A Real-Life Photo Transformation</h3>
    <p>Dive into the power of AutoIMG with a real-life demonstration! Witness the seamless transformation of an ordinary photo into<br> a masterpiece. Experience the magic as we showcase the simplicity and precision of AutoIMG in action,<br> bringing your images to a new level of perfection. See the transformation unfold before your eyes!</p>
  </div>

  <div class="prantOfbigImg">
    <div class="bigImg"><img
        src="{% static 'img/Screenshot.png' %}" alt="">
    </div>
  </div>


  <div class="A_Complete_Solution_Section INTEGRATIONS">
    <h2>APPLICATIONS</h2>
    <h3>Your Passport to Professional Portraits for Any Platform</h3>
    <p>Unlock the versatility of your AutoIMG passport-size images! Tailor-made for any professional platform, these portraits seamlessly integrate across applications.<br> Whether it's LinkedIn, business cards, or official documents, trust AutoIMG to deliver a polished and professional image<br> that represents you effortlessly. Elevate your presence across various platforms with our precision-crafted passport-size portraits!</p>
    
  </div>

  <section class="autoscroll">
    <div>
      <div>
        <marquee behavior="alternate" direction="">
          <div>
            <div>
              <img src="{% static 'img/gsheets.png' %}" alt="">
            </div>
            <div>
              <img src="{% static 'img/asana.png' %}" alt="">
            </div>
            <div>
              <img src="{% static 'img/slack.png' %}" alt="">
            </div>
            <div>
              <img src="{% static 'img/teams.png' %}" alt="">
            </div>
            <div>
              <img
                src="{% static 'img/google-workspace.png' %}"
                alt="">
            </div>
            <div>
              <img src="{% static 'img/trello.png' %}" alt="">
            </div>
            <div>
              <img src="{% static 'img/smartsheet.png' %}"
                alt="">
            </div>
            <div>
              <img src="{% static 'img/outlook.png' %}" alt="">
            </div>
            <div>
              <img
                src="{% static 'img/microsoft-planner.png' %}"
                alt="">
            </div>
          </div>
        </marquee>
      </div>
    </div>
  </section>



  <div class="A_Complete_Solution_Section TIME_TRACKING_APP">
    <h2>SAVE YOUR TIME</h2>
    <h3>Say Goodbye to All Manual Work</h3>
  </div>



  <section class="lastPeopleSection">
    <div>
      <div>
        <div>
          <div>
            <img src="{% static 'img/website-icons-timesheets-white.svg' %}" alt="">
          </div>
          <div>
            <h2>Effortless Background Removal</h2>
            <p>Say goodbye to tedious manual background removal. Our website automates the process, saving you time and effort.</p>
            <a href="#">No more background removal tension</a>
          </div>
        </div>
        <div>
          <div>
            <img src="{% static 'img/website-icons-list-row-white.svg' %}" alt="">
          </div>
          <div>
            <h2>Precision Face Cropping</h2>
            <p>No more guesswork! Our intelligent system identifies facial features and automatically adjusts the image to passport size, ensuring a professional and compliant result.</p>
            <a href="#">No more guesswork!</a>
          </div>
        </div>
        <div>
          <div>
            <img src="{% static 'img/website-icons-target-white.svg' %}" alt="">
          </div>
          <div>
            <h2>Time-Saving Solution</h2>
            <p>In just a few clicks, transform any photo into a polished passport-size image. Our website streamlines the editing process, making it quick and convenient.</p>
            <a href="#">Don't waste time on normal tasks</a>
          </div>
        </div>


      </div>


      <div>
        <div><img src="{% static 'img/NiceBackgroundImg.png' %}" alt=""></div>
      </div>

    </div>

  </section>


  <div class="A_Complete_Solution_Section INTEGRATIONS">
    <h3 style="line-height: 43px;">Ready to Elevate Your Photos? <br>Take Action Now for Effortless Editing and Perfect Results!</h3>
  </div>

  <div class="lastSection">
    <a class="btnStyle" href="#">Get started
      <span>&rarr;</span></a><br>
  </div>











    
   
    {% endblock body %}