{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy Policy AutoIMG{% endblock title %}
{% block head %}
<title>Privacy Policy - AutoIMG</title>
<meta name="description" content="Welcome to the Privacy Policy page of [Your Company Name]. Your privacy is of the utmost importance to us, and we are committed to safeguarding the personal information you entrust to us. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you use our AI-powered image editing application.">
<meta name="robots" content="index follow">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .headerTop {
        /* background-color: #333; */
        /* color: #fff; */
        text-align: center;
        padding: 1em;
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
    }

    .h2 {
        color: #242954;
        padding-bottom: 10px;
    }

    .p {
        margin-bottom: 15px;
        color: #636587;
        line-height: 23px;
    }

    .footerButtom {

        text-align: center;
        padding: 1em;
        color: #636587;
        /* position: fixed; */
        /* bottom: 0; */
        /* width: 100%; */
    }
</style>

{% endblock head%}

{% block body %}
    <div class="headerTop">
        <h1 style="color: #242954;">Privacy Policy</h1>
    </div>

    <section style="border: none;">
        <p class="p">Thank you for using our Passport Photo Tool and Background Removal Service the AutoIMG. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website.</p>
    </section>

    <section>
        <h2 class="h2">Information We Collect</h2>
        <p class="p">1. <strong>Personal Information:</strong> When using the Passport Photo Tool, we may collect personal information such as your name, email address, and other details you provide for customization.</p>
        <p class="p">2. <strong>Uploaded Photos:</strong> We temporarily store the photos you upload for creating passport-size photos and background removal. However, we do not permanently store or access your uploaded photos.</p>
    </section>

    <section>
        <h2 class="h2">How We Use Your Information</h2>
        <p class="p">1. <strong>Service Improvement:</strong> We use the information to enhance and improve our Passport Photo Tool and Background Removal Service.</p>
        <p class="p">2. <strong>Communication:</strong> We may use your email address to send updates, information about the Service, and respond to inquiries.</p>
    </section>

    <section>
        <h2 class="h2">Information Sharing</h2>
        <p class="p">1. <strong>Third-Party Services:</strong> We may use third-party services for analytics and improvement, but we do not sell, trade, or otherwise transfer your personal information to outside parties.</p>
        <p class="p">2. <strong>Legal Requirements:</strong> We may disclose your information if required by law or in response to a subpoena or court order.</p>
    </section>

    <section>
        <h2 class="h2">Security</h2>
        <p class="p">We take reasonable measures to protect your personal information. However, no method of transmission over the internet or electronic storage is 100% secure.</p>
    </section>

    <section>
        <h2 class="h2">Your Choices</h2>
        <p class="p">You can choose not to provide personal information, but it may limit your use of certain features on our website.</p>
    </section>

    <section>
        <h2 class="h2">Children's Privacy</h2>
        <p class="p">Our Service is not directed to individuals under the age of 13. We do not knowingly collect personal information from children.</p>
    </section>

    <section>
        <h2 class="h2">Updates to This Privacy Policy</h2>
        <p class="p">We may update this Privacy Policy from time to time. Please review it periodically. Your continued use of the Service after any modifications indicates your acceptance of the updated Privacy Policy.</p>
    </section>

    <section>
        <h2 class="h2">Contact Us</h2>
        <p class="p">If you have any questions about this Privacy Policy, please contact us at <a href="mailto:paritoshpuitta@gmail.com">paritoshpuitta@gmail.com</a>.</p>
    </section>

    <div class="footerButtom">
        <p>Thank you for trusting us with your information.</p>
    </div>
    {% endblock body %}